<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block header %}Об авторе проекта{% endblock %}
{% block content %}
  <div class="row">
    <!-- Левый вспомогательный блок -->
    <div class="col-md-3 mb-3 mt-1">
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="h4">
                Иван Пфаненштиль
              </div>
            </li>
            <li class="list-group-item">
              <div class="h7 text-muted">
                Инженер<br/>Россия | Германия
                
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Тело страницы -->
    <div class="col-md-9">
      <div class="card-body">
        <div class="card-text">
          <p>Работаю сервисным инженером и живу городе Ганновер.
             Люблю путешествовать, играть на гитаре, готовить, настольные и компьютерные игры,
             программировать, изучать мир и разные культуры.
             <ul>
              <li>Мое резюме: <a href="http://ipl.pythonanywhere.com/">ipl.pythonanywhere.com</a></li>
              <li>VK: <a href="https://vk.com/ivan_pfanenshtil">vk.com/ivan_pfanenshtil</a></li>
              <li>Facebook: <a href="https://www.facebook.com/ivanpfanenshtil">facebook.com/ivanpfanenshtil</a></li>
              <li>linkedIn: <a href="https://www.linkedin.com/in/ivan-pfanenshtil/">linkedin.com/in/ivan-pfanenshtil</a></li>
             </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}